<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>

    <h1>Cadastrar Produto</h1>
    <form action="/Produtos" method="POST">
        <input type="text" name="nome" id="nome" placeholder="Nome do Produto" required>
        <input type="number" name="preco" id="preco" placeholder="Preço do Produto" step="0.01" required>
        <button type="submit">Cadastrar</button>
    </form>
    
</body>
</html>