<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <div class="login-container">
            <img src=../assets/img/ChefControl.jpg>
        </div>
        <form action="/login" method="POST">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" required placeholder="Digite seu nome">

            <label for="username">Usuário:</label>
            <select name="username" id="username" required>
                <option value="" disabled selected>Selecione um cargo</option>
                <option value="gerente">Gerente</option>
                <option value="caixa">Caixa</option>
                <option value="monitor">Monitor</option>
            </select>

            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" required placeholder="Digite sua senha">

            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>
