/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Cores do ChefControl */
:root {
    --primary-dark: #2D1B14;  /* Marrom escuro */
    --primary-orange: #2D1B14;; /* Laranja forte */
    --secondary-red: #A12E1B;  /* Vermelho queimado */
    --text-white: #FFFFFF;     /* Branco */
}

/* Corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--primary-dark);
}

/* Container do login */
.login-container {
    background: var(--text-white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
}

/* Título */
h2 {
    margin-bottom: 20px;
    color: var(--primary-dark);
}

/* Estilização dos labels */
label {
    display: block;
    font-weight: bold;
    text-align: left;
    margin: 10px 0 5px;
    color: var(--primary-dark);
}

/* Campos de entrada */
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--primary-orange);
    border-radius: 5px;
    font-size: 16px;
    background: #fdf2e9;
}

/* Placeholder */
input::placeholder {
    color: #a09e9e;
}

/* Botão de envio */
button {
    width: 100%;
    padding: 10px;
    background: var(--primary-orange);
    border: none;
    color: var(--text-white);
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: var(--secondary-red);
}

/* Responsividade */
@media (max-width: 400px) {
    .login-container {
        width: 90%;
    }
}
