:root {
  --bg-color: #f4f4f4;
  --card-bg: #ffffff;
  --text-color: #222;
  --input-bg: #fff;
  --input-border: #ccc;
  --btn-bg: #007bff;
  --btn-bg-hover: #0056b3;
  --btn-text: #fff;
}

body.dark {
  --bg-color: #121212;
  --card-bg: #1e1e1e;
  --text-color: #f4f4f4;
  --input-bg: #2c2c2c;
  --input-border: #555;
  --btn-bg: #6c63ff;
  --btn-bg-hover: #574fd6;
  --btn-text: #fff;
}
